.about{
    background-color: #333a3f;
    color: white;
    padding-top: 50px;
}
.aboutData{
    width: 80%;
    margin: 0 auto;
}
.career{
    margin-top: 30px;
    display: block;
}
.answer{    
    width: 90%;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 300;
    /* margin-bottom: 100px; */
}
.profession{
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.title{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.myExperience{
    flex: 1;
    font-size: 20px;
    font-weight: 300;
}
.myEducation{
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 0;
}
.myEducation .title{
    flex: 1;
    text-align: center;
}
.detailsOfGrad h3, .detailsOfGrad h4, .detailsOfGrad h5{
    font-weight:300 ;
}
.detailsOfGrad {
    flex:1;
}
.mySkills{
    text-align: center;
}
.TheSkills{
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 25px;
}
.TheSkills li{
    margin-right: 20px;
}
@media screen and (max-width:768px) {
    .profession{
        flex-direction: column;
        align-items: flex-start;
    }
    .title{
        font-size: 50px;
    }
    .myEducation {
        flex-direction: column;
        font-size: 50px;
        
    }
    .myEducation .title{
        text-align: start;
    }
}
